<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>view_shifts</title>
</head>

<body>
    <div class="container mainDiv justify-content-center">
        <div class="row">

            <div class="col-1">
                <h3></h3>
            </div>
            <div class="col-9 text-center display-5 w-100 p-5 mt-5 days-div">

                <div class="row">
                    <h2 class="col-12 titleHeader">Waiter Availability</h2>
                </div>

                <div class="row py-5 px-5">

                    <table class="table">
                        {{!-- <thead> --}}
                        <tr>
                            <th scope="col" class="h4">Day</th>
                            <th scope="col" class="h4">Waiters Working</th>
                        </tr>
                        {{!-- </thead> --}}
                        {{!-- <tbody> --}}

                        {{#each allShifts}}
                        
                        <tr class="{{color}}">
                            <td class="h4"><a href="#" class="text-reset text-decoration-none">{{this.name}}</a></td>



                            <td class="h4 list-group list-group-horizontal">
                                {{#each this.waiters}}
                                <p class="list-group-item shifts">{{this.waiter}}</p>
                                {{/each}}

                            </td>
                        </tr>
                        
                        {{/each}}
                        {{!-- </tbody> --}}
                    </table>

                </div>


                <div class="row">
                    <div class="col-6 mt-5">
                        <a href="/" type="submit" class="btn btn-light btn">back</a>

                    </div>
                    <form action="/reset" method="GET">
                        <div class="col-6 mt-5">
                            <button type="submit"
                                class="btn btn-outline-danger px-5 text-nowrap text-danger bg-light">Clear
                                Shifts</button>

                        </div>
                    </form>

                </div>

            </div>
        </div>
</body>

</html>