<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>login_web_application</title>
</head>

<body>
    <div class="container mainDiv justify-content-center">
        <div class="row">

            <div class="col-1">
                <h3></h3>
            </div>
            <div class="col-9 text-center display-5 w-100 pl-5 mx-5 my-5 center-div">
                <div class="row">
                    <h2 class="col-12 titleHeader pt-5">Waiter Availability</h2>
                </div>

                <div class="row py-5 px-5 justify-content-center">
                    <div class="col-2"> <a href="/days" class="btn btn-light btn-lg">Admin</a>
                  </div>
                  
                   <div class="col-2"> <a href="/waiters/:username" class="btn btn-light btn-lg">Waiter</a>
               </div>
                   </div>
                 </div>

            <div class="col-1">
                <h3></h3>
            </div>



        </div>

    </div>

</body>

</html>