.main {
    background-image: url(https://images.pexels.com/photos/672998/pexels-photo-672998.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center;
    background-color: rgb(153, 97, 51);
}

.mainDiv {
    color: white;
    background-image: linear-gradient(to bottom, rgb(178, 136, 102), rgb(83, 45, 13), rgba(83, 45, 13, 0.3));
    border-radius: 2%;
    overflow: auto;
    height: 1000px;
}

.days-div {
    background-color: rgb(178, 136, 102);
    border-radius: 5px;
    color: white;
}

.li-g-item {
    background-color: rgba(255, 0, 0, 0.0);
    border: 0px;
}